
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <link href="~/css/layui.css" rel="stylesheet" />
    <title>Index</title>
   <style>
       html {
       font-size:10px;
       }
       /*.jiade{
           width:100%;
           height:10%; 
           border:1px solid #ffd800;
       }*/
       .toubu {
      width:100%;
      line-height:35px;
  border-bottom:1px solid #f2ecec;
      background-color:#ffffff;
     /*height:20%;*/
     font-size:1.6rem;
     position:fixed;
    
       }
      /*#layu {
       position:fixed;
       }*/
       .cbl {
           font-size:1.2rem;
      position:fixed;
      right:2%;
      top:6%;
       }
           .cbl p {
           line-height:23px;
           opacity:0.4;
           }
   
   </style>
</head>



<body>
    <div> 
       
        
        <div class="toubu">
            <div class="layui-row" id="layu">
                <div class="layui-col-xs11">
                    <div class="grid-demo grid-demo-bg1" style="text-align:center">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;选择城市</div>
                </div>
                <div class="layui-col-xs1">
                    <div class="grid-demo" style="margin-left:30%"><img src="~/imgs/xtp/5-140FG95153-54.gif" /></div>
                </div>
            </div>
            </div>
       
          @*<p style="line-height:35px;text-align:center;">选择城市<img src="~/imgs/xtp/5-140FG95153-54.gif"  /></p>*@
       
       
            <div>
                <div style="width:100%;font-size:1.2rem;"><p style="line-height:35px;margin-left:0.8em;">.</p></div>
                <div style="background-color:#e5dfdf;width:100%;font-size:1.2rem;"><p style="line-height:30px;margin-left:0.8em;">当前</p></div>
                <div style="width:100%;font-size:1.5rem"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="background-color:#e5dfdf;width:100%;font-size:1.2rem"><p style="line-height:30px;margin-left:0.8em;">热门</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="background-color:#e5dfdf;width:100%;font-size:1.2rem"><p style="line-height:30px;margin-left:0.8em;">热门</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="background-color:#e5dfdf;width:100%;font-size:1.2rem"><p style="line-height:30px;margin-left:0.8em;">热门</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>
                <div style="width:100%;font-size:1.5rem;border-bottom:1px solid #f2ecec;"><p style="line-height:35px;margin-left:0.6em;">株洲</p></div>

            </div>
            <div class="cbl">
                <p>A</p>
                <p>B</p>
                <p>C</p>
                <p>D</p>
                <p>E</p>
                <p>F</p>
                <p>G</p>
                <p>H</p>
                <p>J</p>
                <p>K</p>
                <p>L</p>
                <p>M</p>
                <p>N</p>
                <p>P</p>
                <p>Q</p>
                <p>R</p>
                <p>S</p>
                <p>T</p>
                <p>W</p>
                <p>X</p>
                <p>Y</p>
                <p>Z</p>

            </div>
     
        </div>
    
    <script src="~/scripts/jquery-1.10.2.js"></script>
    <script src="~/js/layui.all.js"></script>
    <script src="~/js/remstyle.js"></script>
    <script>


    </script>
</body>
</html>
