
@{
    ViewBag.Title = "Reyin";
    Layout = "~/Views/Shared/qiantai.cshtml";
}
<link href="~/css/layui.css" rel="stylesheet" />
<script src="~/js/layui.all.js"></script>
<script src="~/scripts/jquery-1.10.2.js"></script>

<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

<div>
   
    
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
        <p style="position:absolute;left:73%;top:3%">
            <label style="margin-right:2%">株洲👇</label>
        <img src="~/imgs/xtp/57eb95270d4db.jpg" 
             style="width:25%;height:25%;border-radius:2px;margin-left:2%;margin-top:-1.5%;"/>
       
        </p>

        <ul class="layui-tab-title">
            <li class="layui-this" style="color:#fb5a5a;margin-left:1%;"><strong>正在热映</strong></li>
            <li>即将上映</li>
           
        </ul>
        <div class="layui-tab-content">

            <div class="layui-tab-item layui-show">


                <div style="border-bottom:1px solid #e9e8e8;">
                <div class="layui-row" style="margin-bottom:4%;margin-top:2%">
                    <div class="layui-col-xs3" style="height:100%;width:25%;">
                        <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px"/>
                    </div>
                    <div class="layui-col-xs7">
                        <p><strong>复仇者联盟</strong></p>
                        <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                        <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                        <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                        <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                    </div>
                    <div class="layui-col-xs2" style="line-height:70%;">
                        <button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#ff2c53;">购票</button>
                    </div>
                </div>
                    </div>



                <div style="border-bottom:1px solid #e9e8e8;">
                    <div class="layui-row" style="margin-bottom:4%;margin-top:4%">
                        <div class="layui-col-xs3" style="height:100%;width:25%;">
                            <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                        </div>
                        <div class="layui-col-xs7">
                            <p><strong>复仇者联盟</strong></p>
                            <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                            <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                            <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                            <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                        </div>
                        <div class="layui-col-xs2" style="line-height:70%;">
                            <button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#ff2c53;">购票</button>
                        </div>
                    </div>
                </div>



                <div style="border-bottom:1px solid #e9e8e8;">
                    <div class="layui-row" style="margin-bottom:4%;margin-top:4%">
                        <div class="layui-col-xs3" style="height:100%;width:25%;">
                            <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                        </div>
                        <div class="layui-col-xs7">
                            <p><strong>复仇者联盟</strong></p>
                            <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                            <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                            <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                            <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                        </div>
                        <div class="layui-col-xs2" style="line-height:70%;">
                            <button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#ff2c53;">购票</button>
                        </div>
                    </div>
                </div>



                <div style="border-bottom:1px solid #e9e8e8;">
                    <div class="layui-row" style="margin-bottom:4%;margin-top:4%">
                        <div class="layui-col-xs3" style="height:100%;width:25%;">
                            <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                        </div>
                        <div class="layui-col-xs7">
                            <p><strong>复仇者联盟</strong></p>
                            <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                            <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                            <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                            <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                        </div>
                        <div class="layui-col-xs2" style="line-height:70%;">
                            <button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#ff2c53;">购票</button>
                        </div>
                    </div>
                </div>


                <div style="border-bottom:1px solid #e9e8e8;">
                    <div class="layui-row" style="margin-bottom:4%;margin-top:4%">
                        <div class="layui-col-xs3" style="height:100%;width:25%;">
                            <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                        </div>
                        <div class="layui-col-xs7">
                            <p><strong>复仇者联盟</strong></p>
                            <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                            <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                            <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                            <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                        </div>
                        <div class="layui-col-xs2" style="line-height:70%;">
                            <button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#ff2c53;">购票</button>
                        </div>
                    </div>
                </div>


                <div style="border-bottom:1px solid #e9e8e8;">
                    <div class="layui-row" style="margin-bottom:4%;margin-top:4%">
                        <div class="layui-col-xs3" style="height:100%;width:25%;">
                            <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                        </div>
                        <div class="layui-col-xs7">
                            <p><strong>复仇者联盟</strong></p>
                            <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                            <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                            <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                            <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                        </div>
                        <div class="layui-col-xs2" style="line-height:70%;">
                            <button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#ff2c53;">购票</button>
                        </div>
                    </div>
                </div>

                
                <div style="border-bottom:1px solid #e9e8e8;">
                    <div class="layui-row" style="margin-bottom:4%;margin-top:4%">
                        <div class="layui-col-xs3" style="height:100%;width:25%;">
                            <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                        </div>
                        <div class="layui-col-xs7">
                            <p><strong>复仇者联盟</strong></p>
                            <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                            <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                            <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                            <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                        </div>
                        <div class="layui-col-xs2" style="line-height:70%;">
                            <button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#ff2c53;">购票</button>
                        </div>
                    </div>
                </div>
               


            </div>

            <div class="layui-tab-item">


                <div style="border-bottom:1px solid #e9e8e8;">
                    <div class="layui-row" style="margin-bottom:4%;margin-top:2%">
                        <div class="layui-col-xs3" style="height:100%;width:25%;">
                            <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                        </div>
                        <div class="layui-col-xs7">
                            <p><strong>复仇者联盟</strong></p>
                            <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                            <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                            <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                            <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                        </div>
                        <div class="layui-col-xs2" style="line-height:70%;">
                            <button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#409ffa;">预约</button>
                        </div>
                    </div>
                </div>


                <div style="border-bottom:1px solid #e9e8e8;">
                    <div class="layui-row" style="margin-bottom:4%;margin-top:4%">
                        <div class="layui-col-xs3" style="height:100%;width:25%;">
                            <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                        </div>
                        <div class="layui-col-xs7">
                            <p><strong>复仇者联盟</strong></p>
                            <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                            <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                            <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                            <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                        </div>
                        <div class="layui-col-xs2" style="line-height:70%;">
                            <button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#409ffa;">预约</button>
                        </div>
                    </div>
                </div>


                <div style="border-bottom:1px solid #e9e8e8;">
                    <div class="layui-row" style="margin-bottom:4%;margin-top:4%">
                        <div class="layui-col-xs3" style="height:100%;width:25%;">
                            <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                        </div>
                        <div class="layui-col-xs7">
                            <p><strong>复仇者联盟</strong></p>
                            <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                            <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                            <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                            <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                        </div>
                        <div class="layui-col-xs2" style="line-height:70%;">
                            <button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#409ffa;">预约</button>
                        </div>
                    </div>
                </div>
                

                <div style="border-bottom:1px solid #e9e8e8;">
                    <div class="layui-row" style="margin-bottom:4%;margin-top:4%">
                        <div class="layui-col-xs3" style="height:100%;width:25%;">
                            <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                        </div>
                        <div class="layui-col-xs7">
                            <p><strong>复仇者联盟</strong></p>
                            <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                            <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                            <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                            <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                        </div>
                        <div class="layui-col-xs2" style="line-height:70%;">
                            @*<button class="layui-btn layui-btn-sm" style="margin-left:20%;border-radius:30px;margin-top:50%;background-color:#ff2c53;">购票</button>*@
                        </div>
                    </div>
                </div>





            </div>
            
        </div>
    </div>


    


</div>

