
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

    <link href="~/css/layui.css" rel="stylesheet" />
    <script src="~/js/layui.all.js"></script>
    <title>Xiangqing</title>
</head>
<body>
    <div style="overflow:hidden;">
    <div style="width:100%;margin:0px;"> 
        <video @*controls*@ style="width:100%"   height="240" autoplay>
            <source src="~/imgs/shiping/HATest.mp4" type="video/mp4" style="width:100%;" />          
        </video>
    </div>

   
            <div style="border:6px solid #e9e8e8;border-radius:8% 8% 0px 0px;">
                <div class="layui-row" style="margin-bottom:4%;margin-top:4%;margin-left:4%">
                    <div class="layui-col-xs3" style="height:100%;width:25%;">
                        <img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:86%;height:97px" />
                    </div>
                    <div class="layui-col-xs7">
                        <p><strong>复仇者联盟</strong></p>
                        <p><h6 style="opacity:0.6"><label style="color:#ffd800;">263.6万</label>人想看 | 2019-04-24上映</h6></p>
                        <p><h6 style="opacity:0.6">淘票票评分<label style="color:#ff2c53;">9.0</label></h6></p>
                        <p><h6 style="opacity:0.6">导演:安东尼</h6></p>
                        <p><h6 style="opacity:0.6">演员:古天乐,郑凯,张雨绮</h6></p>
                    </div>
                  
                </div>
            </div>


        <div style="overflow:hidden;">
            <div style="border-bottom:1px solid #e5e2e2;">
                <div class="layui-row">
                    <div class="layui-col-xs4" style="text-align:center;line-height:35px;">
                        <a href="" style="list-style:none;">简介</a>
                    </div>
                    <div class="layui-col-xs4" style="text-align:center;line-height:35px;">
                        <a href="" style="list-style:none;">影评</a>
                    </div>
                    <div class="layui-col-xs4" style="text-align:center;line-height:35px;">
                        <a href="" style="list-style:none;">更多</a>
                    </div>
                </div>

            </div>


            <div style="border-bottom:1px solid #e9e8e8;margin:1%;">
                <div style="margin:3%;">

                    u放大倍数的的方式发送的方法第三方
                    的芬方法爱的访问器二恶烷和大算法噶当反对法士大夫
                    傻瓜威威负四点五七二各大公司的是德国
                    爱国撒范德萨发达发打发士大夫是佛山东
                    的方法
                </div>

            </div>



            <div style="margin:3%;max-width:92%;margin-right:5%;overflow:hidden">
                <p style="margin:3%;"><h4>演职人员</h4></p>
                <div class="huadong" style="max-width:100%;margin-top:2%;display:flex;overflow:hidden;">
                    <div class="huadong2" style="margin:0.1%;min-width:22%;max-width:22%">
                        <p><img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:100%;height:100px;"/></p>
                        <p style="text-align:center;">安东尼.罗素</p>
                        <p style="text-align:center;font-size:1%;opacity:0.6">导演</p>
                    </div>

                    <div style="margin:0.1%;min-width:22%;max-width:22%;margin-left:1.5%;">
                        <p><img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:100%;height:100px;" /></p>
                        <p style="text-align:center;">安东尼.罗素</p>
                        <p style="text-align:center;font-size:1%;opacity:0.6">导演</p>
                    </div>

                    <div style="margin:0.1%;min-width:22%;margin-left:1.5%;">
                        <p><img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:100%;height:100px;" /></p>
                        <p style="text-align:center;">安东尼.罗素</p>
                        <p style="text-align:center;font-size:1%;opacity:0.6">导演</p>
                    </div>

                    <div style="margin:0.1%;min-width:22%;margin-left:1.5%;">
                        <p><img src="~/imgs/xtp/5-140FG95151-51.png" style="width:100%;height:100px;" /></p>
                        <p style="text-align:center;">安东尼.罗素</p>
                        <p style="text-align:center;font-size:1%;opacity:0.6">导演</p>
                    </div>


                    <div style="margin:0.1%;min-width:22%;margin-left:1.5%;">
                        <p><img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:100%;height:100px;" /></p>
                        <p style="text-align:center;">安东尼.罗素</p>
                        <p style="text-align:center;font-size:1%;opacity:0.6">导演</p>
                    </div>


                    <div style="margin:0.1%;min-width:22%;margin-left:1.5%;">
                        <p><img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:100%;height:100px;" /></p>
                        <p style="text-align:center;">安东尼.罗素</p>
                        <p style="text-align:center;font-size:1%;opacity:0.6">导演</p>
                    </div>

                    <div style="margin:0.1%;min-width:22%;margin-left:1.5%;">
                        <p><img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:100%;height:100px;" /></p>
                        <p style="text-align:center;">安东尼.罗素</p>
                        <p style="text-align:center;font-size:1%;opacity:0.6">导演</p>
                    </div>
                    <div style="margin:0.1%;min-width:22%;margin-left:1.5%;">
                        <p><img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:100%;height:100px;" /></p>
                        <p style="text-align:center;">安东尼.罗素</p>
                        <p style="text-align:center;font-size:1%;opacity:0.6">导演</p>
                    </div>
                    <div class="huadong3" style="margin:0.1%;min-width:22%;margin-left:1.5%;">
                        <p><img src="~/imgs/xtp/57eb95270d4db.jpg" style="width:100%;height:100px;" /></p>
                        <p style="text-align:center;">安东尼.罗素</p>
                        <p style="text-align:center;font-size:1%;opacity:0.6">导演</p>
                    </div>
                </div>
            </div>





        </div>

        



        </div>

    <script src="~/scripts/jquery-1.12.4.js"></script>
    <script>
        var Xstart;
        var maginleft;
        var huadong3;
        var x;
        var obj = document.querySelectorAll(".huadong")[0];
        obj.addEventListener("touchstart", function () {
            
            //$(".huadong2").css("margin-left", huadong3+0);
            Xstart = event.changedTouches[0].clientX;
            maginleft = parseInt($(".huadong").css("margin-left"));
            //huadong3 = parseInt($(".huadong3").css("width"));
        });
        obj.addEventListener("touchmove", function () {
         
            var xEnd = event.changedTouches[0].clientX;
             x=xEnd - Xstart;
            //var w = parseInt($(".huadong3").css("margin-rigth"));
            //var hu = parseInt($(".huadong3").css("width"));
            huadong3 -= x;
            if (x < 0) {
                $(".huadong2").css("margin-left", x);
                //var left = parseInt($(".huadong").css("margin-left"));
                //if (left <= $(".huadong").css("width")) {
                //    $(".huadong").css("margin-left", w);

                //}
            } else {
                huadong3 += x;
                $(".huadong2").css("margin-left", huadong3);
            }
            //} else {
            //    if (maginleft == 0)
            //        return;
            //    var left = parseInt($(".huadong2").css("margin-left"));
            //    if ((maginleft + x) < 0)
            //        $(".huadong2").css("margin-left", maginleft + x);
            //}




        }, false);
       



    </script>
</body>
</html>
